html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Weekend Intensive Schedule
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./styles.sass")
    link(rel="icon", href="./assets/logo.svg")
  mixin schedule-block(name, time, dur, linkname, href, link2name, href2, link3name, href3, link4name, href4, link5name, href5)
    div.row.sched-card
      div.col.s9.offset-s1
        div.card.sched-item(class!=attributes.class)
          div.card-content
            div.card-title= name
            p= time
            p.hidden= dur
          div.card-action(class!=attributes.footerClass)
            a(target="_blank", href=href)= linkname
            a(target="_blank", href=href2)= link2name
            a(target="_blank", href=href3)= link3name
            a(target="_blank", href=href4)= link4name
            a(target="_blank", href=href5)= link5name
  body
    div.container
      div.row
        div.col.s12.center
          h1.title All Star Code <br> Weekend Intensive Schedule
          img#titleAsterik.col.s4.offset-s5(src="./assets/logo.svg", alt="All Star Code Asterik Logo")
      ul.collapsible
        li
          div#day-1-header.collapsible-header(data-state="closed")
            h2.title Feb 5th, Sat - Day 1
          div.collapsible-body
            +schedule-block(`Welcome!`,`10:00AM - 10:15AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`Setup`,`10:15AM - 10:30AM`,`15`,`p5 Editor`,`https://editor.p5js.org/`,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-1", footerClass="bg-asc-blue-d")
            +schedule-block(`p5.js`,`10:30AM - 11:15AM`,`45`,`Presentation`,`https://docs.google.com/presentation/d/1hhmCZ-GQFufzAgBw6r3Y3dVoUC3MQvikS4IL6bl32U8/edit?usp=sharing`,`Code Along`,`https://docs.google.com/document/d/1D83VUnUzH-xmEnnSUsdFvAlVyv-5JTbFvCd8jaFUkL8/edit?usp=sharing`,``,``,``,``,``,``)(class="bg-purple  day-1", footerClass="bg-purple-d")
            +schedule-block(`BREAK`,`11:15AM - 11:30AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark day-1", footerClass="bg-dark-d")
            +schedule-block(`p5.js.`,`11:30AM - 12:00PM`,`30`,`Project`,`https://docs.google.com/document/d/10CEWxBKrUvDpekjZo6iULWwbUEAOBGZtOrxKlcd97K4/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red day-1", footerClass="bg-red-d")
            +schedule-block(`Draw Loop + Mouse Events`,`12:00PM - 12:45PM`,`45`,`Presentation`,`https://docs.google.com/document/d/10CEWxBKrUvDpekjZo6iULWwbUEAOBGZtOrxKlcd97K4/edit?usp=sharing`,`Code Along`,`https://docs.google.com/document/d/1uZWuTYQnJBXUhqxb55HAjQg32BkCEGSF3VvAOLuNcNM/edit?usp=sharing`,``,``,``,``,``,``)(class="bg-purple  day-1", footerClass="bg-purple-d")
            +schedule-block(`Draw Loop + Mouse Events.`,`12:45PM - 01:00PM`,`15`,`Project`,`https://docs.google.com/document/d/1Xd5wV_2JIfFh3JeCFmlWJzMIKFuiT0DXCGaDGtezSSw/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red day-1", footerClass="bg-red-d")        //- Day 2 schedule
        li
          div#day-2-header.collapsible-header
            h2.title Feb 6th, Sun - Day 2
          div.collapsible-body
            +schedule-block(`Team Building`,`10:00AM - 10:30AM`,`30`,``,``,``,``,``,``,``,``,``,``)(class="bg-asc-blue day-2", footerClass="bg-asc-blue-d")
            +schedule-block(`Animation`,`10:30AM - 11:00AM`,`30`,`Code Along`,`https://docs.google.com/document/d/1dUvaoKUcgvcfmA7SiHyn_qfCJLrWtAEGmN3hdPCzZCw/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-purple  day-2", footerClass="bg-purple-d")
            +schedule-block(`Animation.`,`11:00AM - 11:15AM`,`15`,`Project`,`https://docs.google.com/document/d/1NO1qoB8D48Jb9RtFrNzAfNk1R-i_TD4PiNzswCc9cJo/edit?usp=sharing`,``,``,``,``,``,``,``,``)(class="bg-red day-2", footerClass="bg-red-d")
            +schedule-block(`BREAK`,`11:15AM - 11:30AM`,`15`,``,``,``,``,``,``,``,``,``,``)(class="bg-dark day-2", footerClass="bg-dark-d")
            +schedule-block(`Bouncing Ball`,`11:30AM - 12:15PM`,`45`,`Code Along I`,`https://docs.google.com/document/d/1xYx86DKP8LDIqJbgCtpEnQIw6otO57j7DJ4aX29cxus/edit?usp=sharing`,`Code Along II`,`https://docs.google.com/document/d/1QCAJVfQ2sEGSQadfgv-PfMPLxAv0eY9xiJxKVXXtZNo/edit?usp=sharing`,``,``,``,``,``,``)(class="bg-purple  day-2", footerClass="bg-purple-d")
            +schedule-block(`Kahoot`,`12:15PM - 12:45PM`,`30`,`Join Here`,`https://kahoot.it/`,``,``,``,``,``,``,``,``)(class="bg-yellow  day-2", footerClass="bg-yellow-d")
            +schedule-block(`Student Survey`,`12:45PM - 01:00PM`,`15`,`Survey Link`,`https://allstarcode.typeform.com/to/YktNR8ah`,``,``,``,``,``,``,``,``)(class="bg-green day-2", footerClass="bg-green-d")
    script(src="https://cdn.jsdelivr.net/npm/animejs@3.2.0/lib/anime.min.js")
    //- This keeps getting removed for some reason
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(src="./main.js", defer)